<footer>
    <div class="footer-content">
        <p>ความเสี่ยงต่อการป่วยหรือเสียชีวิตจากโรคหัวใจและหลอดเลือด เช่น
            กล้ามเนื้อหัวใจขาดเลือดและโรคเส้นเลือดสมองตีบในระยะ 10 ปีข้างหน้า
            สำหรับผู้ที่ไม่เคยมีประวัติการป่วยด้วยโรคกล้ามเนื้อหัวใจขาดเลือดและโรคเส้นเลือดสมองตีบมาก่อน โดย
            การประเมินความเสี่ยงใช้ 2019 World Health Organization cardiovascular disease risk charts สำหรับ
            Southeast
            Asia Countries<sup>1</sup>.</p>
        <p><sup>1</sup> WHO CVD Risk Chart Working Group (2019). World Health Organization cardiovascular disease
            risk
            charts: revised models to estimate risk in 21 global regions. The Lancet. Global health, 7(10),
            e1332–e1345.
            <a href="https://doi.org/10.1016/S2214-109X(19)30318-3"
                target="_blank">https://doi.org/10.1016/S2214-109X(19)30318-3</a>
        </p>
    </div>
</footer>