<header class="header">
    <div class="logo-container">
        <img src="/images/logo.png" alt="Logo">
        <img src="/images/Logo_su.png" alt="Logo_su" style="width: 60px; height: auto;">
        <div class="header-text">
            <div class="header-title">Computer-Based Technology in Enhancing Cardiovascular Disease Risk Assessment
            </div>
            <div class="header-subtitle">by Phramongkutklao College of Medicine & Silpakorn University</div>
        </div>
    </div>
    <div class="right-buttons">
        <div class="dropdown">
            <div class="dropdown-content">
                <a href="/">หน้าหลัก</a>
                <a href="/about">About Me</a>
                <a href="#">Link 3</a>
            </div>
            <button>&#8942;</button> <!-- Vertical ellipsis icon -->
        </div>
        
        <a href="/login" class="login-button" id="loginbutton">SignIn</a>
    </div>
</header>
