<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/stys.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .fs-6 {
            font-size: 2rem !important;
        }

        .input-group-text {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-check-inline {
            margin-right: 10px;
            margin-top: auto;
            margin-bottom: auto;
        }

        .input-group .form-control {
            flex: 1 1 auto;
            width: 1%;
        }

        .input-group-text {
            min-width: 60px; /* Adjust as necessary to fit "mmHg" */
        }
    </style>
</head>

<body>
    <%- include('header') %>
    <main>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>การประเมินความเสี่ยงโรคหัวใจและหลอดเลือดแบบใช้ผลการตรวจเลือด</h2>
                            <h3>Laboratory-based predicted 10-year CVD Risk (The 2019 WHO CVD Risk Charts)</h3> 
                            <form action="/nonLab" method="get" id="nonLabForm" class="row gy-3">
                                <!-- Gender -->
                                <div class="col-12">
                                    <label for="gender" class="form-label">Gender (เพศ)</label>
                                    <select class="form-select" name="gender" id="gender" required>
                                        <option value="" selected disabled>ระบุเพศ</option>
                                        <option value="1">Male (ชาย)</option>
                                        <option value="0">Female (หญิง)</option>
                                    </select>
                                </div>

                                <!-- First Name -->
                                <div class="col-md-6">
                                    <label for="firstName" class="form-label">First Name (ชื่อ)</label>
                                    <input type="text" class="form-control" name="firstName" id="firstName" required>
                                </div>

                                <!-- Last Name -->
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">Surname (นามสกุล)</label>
                                    <input type="text" class="form-control" name="lastName" id="lastName" required>
                                </div>

                                <!-- Age Field -->
                                <div class="col-md-6">
                                    <label for="age" class="form-label">Age (อายุ)</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="age" name="age" min="40" required>
                                        
                                    </div>
                                </div>

                                <!-- current smoking -->
                                <div class="col-md-6">
                                    <label for="cvsmk" class="form-label">Current smoking (ปัจจุบันสูบบุหรี่)</label>
                                    <select class="form-select" name="cvsmk" id="cvsmk" required>
                                        <option value="" selected disabled>โปรดระบุ</option>
                                        <option value="1">Yes (สูบ)</option>
                                        <option value="0">No (ไม่สูบ)</option>
                                </select>
                                </div>

                                <!--weigth-->
                                <div class="col-md-6">
                                    <label for="weight" class="form-label">Weight (น้ำหนัก)</label>
                                    <input type="number" id="weight" name="weight" min="1" class="form-control" required>
                                </div>

                                <!--height-->
                                <div class="col-md-6">
                                    <label for="weight" class="form-label">Height (ส่วนสูง)</label>
                                    <input type="number" id="height_cm" name="height_cm" min="1" class="form-control" required>
                                </div>

                                <!-- 1st Systolic Blood Pressure -->
                                <div class="col-md-6">
                                    <label for="sbp1" class="form-label">1st Systolic blood pressure (ระดับความดันโลหิตค่าบน ครั้งที่ 1)</label>
                                    <div class="input-group">
                                        <input type="number" id="sbp1" name="sbp1" min="1" class="form-control" required>
                                        <span class="input-group-text">mmHg</span>
                                    </div>
                                </div>

                                <!--sbp2-->
                                <div class="col-md-6">
                                    <label for="sbp" class="form-label">2nd Systolic blood pressure (ระดับความดันโลหิตค่าบน ครั้งที่ 2 )</label>
                                    <input type="number" id="sbp2" name="sbp2" min="1" class="form-control" required>
                                </div>
                                
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button class="btn btn-success" type="submit">แสดงผลการประเมินความเสี่ยง (CVD Risk Assessment)</button>
                                    </div>
                                </div>
                            </form>
                            <!-- พื้นที่แสดงผล -->
                            <div id="result" class="mt-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer') %>
    <script src="js/scriptNonLab.js"></script>
</body>

</html>

